
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <!-- <app-auth></app-auth> -->
      <app-resume-editor></app-resume-editor>
      <app-resume-preview></app-resume-preview>



      <!-- Example code  -->
       <!-- Example for one way data binding -->

       <h2>{{ oneWayDataBindingexample }}</h2>



       <!-- Property binding -->
        <img [src]=src>


        <!-- Event binding -->
      <button (click)="sayhello()">Hello</button>


      <!-- Two way binding -->
      <input [(ngModel)]="TwowayBinding">
      <p>{{TwowayBinding}}</p>

      <!-- NgClass/NgStyle -->
      <p [ngStyle]=css>Para</p>  
      
      <!-- Directives -->

      <P *ngIf="sample">sample text only if it is true</P>


      <ul *ngFor="let item of items">
            <li>{{item}}</li>
      </ul>


      <app-auth [greet]="message"></app-auth>

<router-outlet />
